[submodule "Vagrant/BaseBox/cookbooks/apt"]
	path = Vagrant/BaseBox/cookbooks/apt
	url = https://github.com/opscode-cookbooks/apt.git
[submodule "Vagrant/BaseBox/cookbooks/build-essential"]
	path = Vagrant/BaseBox/cookbooks/build-essential
	url = https://github.com/opscode-cookbooks/build-essential.git
[submodule "Vagrant/BaseBox/cookbooks/dmg"]
	path = Vagrant/BaseBox/cookbooks/dmg
	url = https://github.com/opscode-cookbooks/dmg.git
[submodule "Vagrant/BaseBox/cookbooks/erlang"]
	path = Vagrant/BaseBox/cookbooks/erlang
	url = https://github.com/opscode-cookbooks/erlang.git
[submodule "Vagrant/BaseBox/cookbooks/git"]
	path = Vagrant/BaseBox/cookbooks/git
	url = https://github.com/opscode-cookbooks/git.git
[submodule "Vagrant/BaseBox/cookbooks/python"]
	path = Vagrant/BaseBox/cookbooks/python
	url = https://github.com/opscode-cookbooks/python.git
[submodule "Vagrant/BaseBox/cookbooks/rabbitmq"]
	path = Vagrant/BaseBox/cookbooks/rabbitmq
	url = https://github.com/opscode-cookbooks/rabbitmq.git
[submodule "Vagrant/BaseBox/cookbooks/rabbitmq-in-depth"]
	path = Vagrant/BaseBox/cookbooks/rabbitmq-in-depth
	url = https://github.com/gmr/rabbitmq-in-depth-cookbook.git
[submodule "Vagrant/BaseBox/cookbooks/runit"]
	path = Vagrant/BaseBox/cookbooks/runit
	url = https://github.com/opscode-cookbooks/runit.git
[submodule "Vagrant/BaseBox/cookbooks/supervisor"]
	path = Vagrant/BaseBox/cookbooks/supervisor
	url = https://github.com/opscode-cookbooks/supervisor.git
[submodule "Vagrant/BaseBox/cookbooks/vt-gpg"]
	path = Vagrant/BaseBox/cookbooks/vt-gpg
	url = https://github.com/VendaTech/chef-cookbook-gpg.git
[submodule "Vagrant/BaseBox/cookbooks/windows"]
	path = Vagrant/BaseBox/cookbooks/windows
	url = https://github.com/opscode-cookbooks/windows.git
[submodule "Vagrant/BaseBox/cookbooks/x509"]
	path = Vagrant/BaseBox/cookbooks/x509
	url = https://github.com/VendaTech/chef-cookbook-ssl.git
[submodule "Vagrant/BaseBox/cookbooks/yum"]
	path = Vagrant/BaseBox/cookbooks/yum
	url = https://github.com/opscode-cookbooks/yum.git
[submodule "Vagrant/BaseBox/cookbooks/zeromq"]
	path = Vagrant/BaseBox/cookbooks/zeromq
	url = https://github.com/pyronicide/zeromq-cookbook.git
[submodule "Vagrant/BaseBox/cookbooks/chef_handler"]
	path = Vagrant/BaseBox/cookbooks/chef_handler
	url = https://github.com/opscode-cookbooks/chef_handler.git
